@namespace DaisyBlazor
@inherits DaisyComponentBase

@if (Visible)
{
    <div class="@OverlayClass" style="@Style" @attributes="@AdditionalAttributes" @onclick="@OnBackgroundClick">
        @ChildContent
    </div>
}