@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="card-body @Class" style="@Style">
    @if (TitleTemplate != null)
    {
        <div class="card-title">
            @TitleTemplate
        </div>

    }
    <div>
        @BodyTemplate
    </div>
    @if (ActionTemplate != null)
    {
        <div class="card-actions">
            @ActionTemplate
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? TitleTemplate { get; set; }

    [Parameter]
    public RenderFragment? BodyTemplate { get; set; }

    [Parameter]
    public RenderFragment? ActionTemplate { get; set; }
}