@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@CardClass" style="@Style" @attributes="@AdditionalAttributes">
    @if (ImgContent is not null)
    {
        <div class="card-img">
            @ImgContent
        </div>
    }
    <div class="card-body">
        @if (TitleContent != null)
        {
            @TitleContent
        }
        else
        {
            <div class="card-title">
                @Title
            </div>
        }
        @if (ChildContent is not null)
        {
            <div class="card-content">
                @ChildContent
            </div>
        }
        @if (ActionContent != null)
        {
            <div class="card-actions">
                @ActionContent
            </div>
        }
    </div>
</div>