<div class="tooltip" data-tip="hello">
    <button class="btn">Hover me</button>
  </div>

  <div class="tooltip tooltip-top" data-tip="hello">
    <button class="btn">Top</button>
  </div>

  <div class="tooltip tooltip-bottom" data-tip="hello">
    <button class="btn">Bottom</button>
  </div>

  <div class="tooltip tooltip-left" data-tip="hello">
    <button class="btn">Left</button>
  </div>

  <div class="tooltip tooltip-right" data-tip="hello">
    <button class="btn">Right</button>
  </div>

  <div class="tooltip tooltip-primary" data-tip="primary">
    <button class="btn btn-primary">primary</button>
  </div>

  <div class="tooltip tooltip-secondary" data-tip="secondary">
    <button class="btn btn-secondary">secondary</button>
  </div>

  <div class="tooltip tooltip-accent" data-tip="accent">
    <button class="btn btn-accent">accent</button>
  </div>

  <div class="tooltip tooltip-info" data-tip="info">
    <button class="btn btn-info">info</button>
  </div>

  <div class="tooltip tooltip-success" data-tip="success">
    <button class="btn btn-success">success</button>
  </div>

  <div class="tooltip tooltip-warning" data-tip="warning">
    <button class="btn btn-warning">warning</button>
  </div>

  <div class="tooltip tooltip-error" data-tip="error">
    <button class="btn btn-error">error</button>
  </div>