@inherits LayoutComponentBase

<PageTitle>DaisyComponent</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/gaofen13/daisy-blazor/" target="_blank">Github</a>
            <a href="https://gitee.com/gaofen13/daisy-blazor/" target="_blank">Gitee</a>
        </div>

        <article class="content px-4">
            <DaisyErrorBoundary>
                @Body
            </DaisyErrorBoundary>
        </article>
    </main>
</div>
