<DaisyMenu Rounded Style="height:100%;overflow-y:auto;z-index:1051;background-color:#fafafa;">
    <DaisyMenuItem Href="buttons">
        <span class="oi oi-plus" aria-hidden="true"></span> Buttons
    </DaisyMenuItem>
    <DaisyMenuItem Href="code">
        <span class="oi oi-plus" aria-hidden="true"></span> Code
    </DaisyMenuItem>
    <DaisyMenuItem Href="collapses">
        <span class="oi oi-home" aria-hidden="true"></span> Collapses
    </DaisyMenuItem>
    <DaisyMenuItem Href="menus">
        <span class="oi oi-plus" aria-hidden="true"></span> Menus
    </DaisyMenuItem>
    <DaisyMenuItem Href="navbar">
        <span class="oi oi-plus" aria-hidden="true"></span> Navbar
    </DaisyMenuItem>
    <DaisyMenuItem Href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </DaisyMenuItem>
</DaisyMenu>