<DaisyNavMenu Style="height:100%;overflow-y:auto;z-index:1051;">
    <DaisyButton OnClick="OnCloseBtnClicked" Class="close-btn" Style="margin:1rem 1rem 1rem auto;" Size="@Size.Sm" Color="@Color.Ghost" Circle>✕</DaisyButton>
    <DaisyNavMenuGroup>
        <TitleContent>
            <span class="oi oi-plus" aria-hidden="true"></span> Buttons
        </TitleContent>
        <ChildContent>
            <DaisyMenuItem Href="buttongroup">
                <span class="oi oi-plus" aria-hidden="true"></span> ButtonGroup
            </DaisyMenuItem>
            <DaisyMenuItem Href="button">
                <span class="oi oi-plus" aria-hidden="true"></span> Button
            </DaisyMenuItem>
        </ChildContent>
    </DaisyNavMenuGroup>
    <DaisyMenuItem Href="code">
        <span class="oi oi-plus" aria-hidden="true"></span> Code
    </DaisyMenuItem>
    <DaisyMenuItem Href="collapses">
        <span class="oi oi-home" aria-hidden="true"></span> Collapses
    </DaisyMenuItem>
    <DaisyMenuItem Href="countdown">
        <span class="oi oi-home" aria-hidden="true"></span> Countdown
    </DaisyMenuItem>
    <DaisyMenuItem Href="dropdown">
        <span class="oi oi-home" aria-hidden="true"></span> Dropdown
    </DaisyMenuItem>
    <DaisyMenuItem Href="forms">
        <span class="oi oi-plus" aria-hidden="true"></span> Forms
    </DaisyMenuItem>
    <DaisyMenuItem Href="kbd">
        <span class="oi oi-plus" aria-hidden="true"></span> Kbd
    </DaisyMenuItem>
    <DaisyMenuItem Href="table">
        <span class="oi oi-plus" aria-hidden="true"></span> Table
    </DaisyMenuItem>
    <DaisyMenuItem Href="tabs">
        <span class="oi oi-plus" aria-hidden="true"></span> Tabs
    </DaisyMenuItem>
    <DaisyMenuItem Href="navbar">
        <span class="oi oi-plus" aria-hidden="true"></span> Navbar
    </DaisyMenuItem>
    <DaisyNavMenuGroup>
        <TitleContent>
            <span class="oi oi-plus" aria-hidden="true"></span> Menus
        </TitleContent>
        <ChildContent>
            <DaisyMenuItem Href="menu">
                <span class="oi oi-plus" aria-hidden="true"></span> Menu
            </DaisyMenuItem>
            <DaisyMenuItem Href="navmenu">
                <span class="oi oi-plus" aria-hidden="true"></span> NavMenu
            </DaisyMenuItem>
        </ChildContent>
    </DaisyNavMenuGroup>
    <DaisyMenuItem Href="pager">
        <span class="oi oi-plus" aria-hidden="true"></span> Pagination
    </DaisyMenuItem>
    <DaisyMenuItem Href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </DaisyMenuItem>
</DaisyNavMenu>

@code {
    [Parameter]
    public EventCallback OnCloseBtnClicked { get; set; }
}