<DaisyMenu Class="bg-base-100" Style="min-height:100%;width:320px;">
    <DaisySubMenu>
        <TitleContent>
            <span class="oi oi-plus" aria-hidden="true"></span> Actions
        </TitleContent>
        <ChildContent>
            <DaisyMenuItem Href="button">
                <span class="oi oi-plus" aria-hidden="true"></span> Button
            </DaisyMenuItem>
            <DaisyMenuItem Href="dropdown">
                <span class="oi oi-home" aria-hidden="true"></span> Dropdown
            </DaisyMenuItem>
            <DaisyMenuItem Href="swap">
                <span class="oi oi-home" aria-hidden="true"></span> Swap
            </DaisyMenuItem>
        </ChildContent>
    </DaisySubMenu>
    <DaisyMenuItem Href="avatar">
        <span class="oi oi-plus" aria-hidden="true"></span> Avatar
    </DaisyMenuItem>
    <DaisyMenuItem Href="alert">
        <span class="oi oi-plus" aria-hidden="true"></span> Alert
    </DaisyMenuItem>
    <DaisyMenuItem Href="badge">
        <span class="oi oi-plus" aria-hidden="true"></span> Badge
    </DaisyMenuItem>
    <DaisyMenuItem Href="buttongroup">
        <span class="oi oi-plus" aria-hidden="true"></span> ButtonGroup
    </DaisyMenuItem>
    <DaisyMenuItem Href="card">
        <span class="oi oi-plus" aria-hidden="true"></span> Card
    </DaisyMenuItem>
    <DaisyMenuItem Href="code">
        <span class="oi oi-plus" aria-hidden="true"></span> Code
    </DaisyMenuItem>
    <DaisyMenuItem Href="collapses">
        <span class="oi oi-home" aria-hidden="true"></span> Collapses
    </DaisyMenuItem>
    <DaisyMenuItem Href="countdown">
        <span class="oi oi-home" aria-hidden="true"></span> Countdown
    </DaisyMenuItem>
    <DaisyMenuItem Href="forms">
        <span class="oi oi-plus" aria-hidden="true"></span> Forms
    </DaisyMenuItem>
    <DaisyMenuItem Href="link">
        <span class="oi oi-plus" aria-hidden="true"></span> Link
    </DaisyMenuItem>
    <DaisyMenuItem Href="loading">
        <span class="oi oi-plus" aria-hidden="true"></span> Loading
    </DaisyMenuItem>
    <DaisyMenuItem Href="kbd">
        <span class="oi oi-plus" aria-hidden="true"></span> Kbd
    </DaisyMenuItem>
    <DaisyMenuItem Href="table">
        <span class="oi oi-plus" aria-hidden="true"></span> Table
    </DaisyMenuItem>
    <DaisyMenuItem Href="tabs">
        <span class="oi oi-plus" aria-hidden="true"></span> Tabs
    </DaisyMenuItem>
    <DaisyMenuItem Href="navbar">
        <span class="oi oi-plus" aria-hidden="true"></span> Navbar
    </DaisyMenuItem>
    <DaisyMenuItem Href="pager">
        <span class="oi oi-plus" aria-hidden="true"></span> Pagination
    </DaisyMenuItem>
    <DaisyMenuItem Href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </DaisyMenuItem>
</DaisyMenu>