<!DOCTYPE html>
<html>

<body>
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-top">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-bottom">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-left">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-right">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button">Click</div>
        <ul tabindex="0" class="dropdown-content">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>
</body>

</html>