@page "/avatar"

<h3>Avatar 头像</h3>
<DaisyAvatar>
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>

<h3>Avatar in custom sizes</h3>
<DaisyAvatar Size="@Size.Lg">
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>
<DaisyAvatar Size="@Size.Md">
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>
<DaisyAvatar Size="@Size.Sm">
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>
<DaisyAvatar Size="@Size.Xs">
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>

<h3>Avatar circle</h3>
<DaisyAvatar Circle>
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>

<h3>Avatar with presence indicator</h3>
<DaisyAvatar Circle Online>
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>
<DaisyAvatar Circle Offline>
    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
</DaisyAvatar>

<h3>Avatar placeholder</h3>
<DaisyAvatar Circle Placeholder>
    <span style="font-size: x-large;">AI</span>
</DaisyAvatar>

<h3>Avatar group</h3>
<DaisyAvatarGroup>
    <DaisyAvatar Circle>
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </DaisyAvatar>
    <DaisyAvatar Circle>
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </DaisyAvatar>
    <DaisyAvatar Circle>
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </DaisyAvatar>
    <DaisyAvatar Circle Placeholder>
        <span>+99</span>
    </DaisyAvatar>
</DaisyAvatarGroup>