@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using DaisyBlazor.Shared.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DaisyTable>
        <DaisyTHead>
            <DaisyTr>
                <DaisyTh>Date</DaisyTh>
                <DaisyTh>Temp. (C)</DaisyTh>
                <DaisyTh>Temp. (F)</DaisyTh>
                <DaisyTh>Summary</DaisyTh>
            </DaisyTr>
        </DaisyTHead>
        <DaisyTBody>
            @foreach (var forecast in forecasts)
            {
                <DaisyTr>
                    <DaisyTd>@forecast.Date.ToShortDateString()</DaisyTd>
                    <DaisyTd>@forecast.TemperatureC</DaisyTd>
                    <DaisyTd>@forecast.TemperatureF</DaisyTd>
                    <DaisyTd>@forecast.Summary</DaisyTd>
                </DaisyTr>
            }
        </DaisyTBody>
        <DaisyTFoot><DaisyTr><DaisyTh Colspan="4">这是table foot</DaisyTh></DaisyTr></DaisyTFoot>
    </DaisyTable>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
