@page "/kbd"

<div class="flex justify-center gap-1 my-1 w-full">
    <DaisyKbd>q</DaisyKbd>
    <DaisyKbd>w</DaisyKbd>
    <DaisyKbd>e</DaisyKbd>
    <DaisyKbd>r</DaisyKbd>
    <DaisyKbd>t</DaisyKbd>
    <DaisyKbd>y</DaisyKbd>
    <DaisyKbd>u</DaisyKbd>
    <DaisyKbd>i</DaisyKbd>
    <DaisyKbd>o</DaisyKbd>
    <DaisyKbd>p</DaisyKbd>
</div>
<div class="flex justify-center gap-1 my-1 w-full">
    <DaisyKbd>a</DaisyKbd>
    <DaisyKbd>s</DaisyKbd>
    <DaisyKbd>d</DaisyKbd>
    <DaisyKbd>f</DaisyKbd>
    <DaisyKbd>g</DaisyKbd>
    <DaisyKbd>h</DaisyKbd>
    <DaisyKbd>j</DaisyKbd>
    <DaisyKbd>k</DaisyKbd>
    <DaisyKbd>l</DaisyKbd>
</div>
<div class="flex justify-center gap-1 my-1 w-full">
    <DaisyKbd>z</DaisyKbd>
    <DaisyKbd>x</DaisyKbd>
    <DaisyKbd>c</DaisyKbd>
    <DaisyKbd>v</DaisyKbd>
    <DaisyKbd>b</DaisyKbd>
    <DaisyKbd>n</DaisyKbd>
    <DaisyKbd>m</DaisyKbd>
    <DaisyKbd>/</DaisyKbd>
</div>