@page "/navbar"

<DaisyNavbar Shadow Rounded>
    <DaisyButton Square Color="Color.Ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" style="width: 1.2rem;height: 1.2rem;stroke: hsla(var(--bc) / var(--tw-text-opacity, 1));">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </DaisyButton>
    <DaisyButton Color="Color.Ghost">
        <a style="font-size:larger;font-weight:bolder">标题</a>
    </DaisyButton>
    <DaisyDropdown AlignsToEnd RoundedBox Style="margin-left:auto">
        <TitleContent>
            <DaisyButton Square Color="Color.Ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" style="width: 1.2rem;height: 1.2rem;stroke: hsla(var(--bc) / var(--tw-text-opacity, 1));">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                </svg>
            </DaisyButton>
        </TitleContent>
        <ChildContent>
            <DaisyDropdownItem>Item1</DaisyDropdownItem>
            <DaisyDropdownItem>Item2</DaisyDropdownItem>
        </ChildContent>
    </DaisyDropdown>
</DaisyNavbar>