@page "/tabs"

<h5>Tabs</h5>
<DaisyTabs>
    <DaisyTab Default Title="Tab1">
        测试Tab1
    </DaisyTab>
    <DaisyTab Title="Tab2">
        测试Tab2
    </DaisyTab>
    <DaisyTab Title="Tab3">
        测试Tab3
    </DaisyTab>
</DaisyTabs>

<h5>Boxed</h5>
<DaisyTabs Boxed>
    <DaisyTab Title="Tab1">
        测试Tab1
    </DaisyTab>
    <DaisyTab Default Title="Tab2">
        测试Tab2
    </DaisyTab>
    <DaisyTab Title="Tab3">
        测试Tab3
    </DaisyTab>
</DaisyTabs>

<h5>Bordered</h5>
<DaisyTabs>
    <DaisyTab Bordered Title="Tab1">
        测试Tab1
    </DaisyTab>
    <DaisyTab Bordered Title="Tab2">
        测试Tab2
    </DaisyTab>
    <DaisyTab Default Bordered Title="Tab3">
        测试Tab3
    </DaisyTab>
</DaisyTabs>

<h5>Lifted</h5>
<DaisyTabs>
    <DaisyTab Default Lifted Title="Tab1">
        测试Tab1
    </DaisyTab>
    <DaisyTab Lifted Title="Tab2">
        测试Tab2
    </DaisyTab>
    <DaisyTab Lifted Title="Tab3">
        测试Tab3
    </DaisyTab>
</DaisyTabs>

<h5>Sizes</h5>
<DaisyTabs>
    <DaisyTab Size="@Size.Xs" Title="Tab1">
        测试Tab1
    </DaisyTab>
    <DaisyTab Default Size="@Size.Sm" Title="Tab2">
        测试Tab2
    </DaisyTab>
    <DaisyTab Size="@Size.Md" Title="Tab3">
        测试Tab3
    </DaisyTab>
    <DaisyTab Size="@Size.Lg" Title="Tab4">
        测试Tab4
    </DaisyTab>
</DaisyTabs>
