<!DOCTYPE html>
<html>
    <body>
        <div class="drawer">
            <input type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
            </div>
            <div class="drawer-side">
                <div class="drawer-overlay"></div>
            </div>
        </div>
        <div class="drawer drawer-end">
            <input type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
            </div>
            <div class="drawer-side">
                <div class="drawer-overlay"></div>
            </div>
        </div>
    </body>
</html>