<!DOCTYPE html>
<html>

<body>
    <progress class="progress" value="0" max="100"></progress>
    <progress class="progress" value="10" max="100"></progress>
    <progress class="progress" value="40" max="100"></progress>
    <progress class="progress" value="70" max="100"></progress>
    <progress class="progress" value="100" max="100"></progress>
    <progress class="progress progress-primary" value="10" max="100"></progress>
    <progress class="progress progress-secondary" value="10" max="100"></progress>
    <progress class="progress progress-accent" value="10" max="100"></progress>
    <progress class="progress progress-success" value="40" max="100"></progress>
    <progress class="progress progress-info" value="40" max="100"></progress>
    <progress class="progress progress-warning" value="10" max="100"></progress>
    <progress class="progress progress-error" value="40" max="100"></progress>
    <progress class="progress"></progress>

    <div class="radial-progress" style="--value:70;" role="progressbar">70%</div>
    <div class="radial-progress" style="--value:70; --size:12rem; --thickness: 2px;" role="progressbar">70%</div>
    <div class="radial-progress" style="--value:70; --size:12rem; --thickness: 2rem;" role="progressbar">70%</div>
</body>

</html>