@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@FieldClass" style="@FieldStyle" @attributes="@Attributes">
    <label class="form-field-label">@Label</label>
    <div class="form-field-input">
        @ChildContent
    </div>
</div>