@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<div style="width:100%">
    <div role="radiogroup" class="@RadioGroupClass" style="@Style" @attributes="@Attributes">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </div>
</div>