@namespace DaisyBlazor
@inherits DaisyComponentBase

<div id="@Id" class="@Classname" style="@Style">
    <label class="form-field-label">@Label</label>
    <div style="width:100%">
        @ChildContent
    </div>
</div>