.overlay {
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1050;
    background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.4;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
    overflow-y: hidden;
    overscroll-behavior: contain;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

:where(.overlay) {
    align-items: center;
}
