.tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.tabs-title {
    display: block;
    width: 100%;
    font-weight: bolder;
}

.tabs-boxed {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2,var(--b1))/var(--tw-bg-opacity));
    padding: 0.25rem;
    border-radius: var(--rounded-btn,.5rem);
}

    .tabs-boxed .tab-active {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--p)/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: hsl(var(--pc)/var(--tw-text-opacity));
        border-radius: var(--rounded-btn,.5rem);
    }

.tab {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2rem;
    font-size: .875rem;
    line-height: 1.25rem;
    line-height: 2;
    --tab-padding: 1rem;
    --tw-text-opacity: .5;
    --tab-color: hsla(var(--bc) / var(--tw-text-opacity, 1));
    --tab-bg: hsla(var(--b1) / var(--tw-bg-opacity, 1));
    --tab-border-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
    color: var(--tab-color);
    padding-left: var(--tab-padding,1rem);
    padding-right: var(--tab-padding,1rem);
}

    .tab.tab-active {
        border-color: hsl(var(--bc)/var(--tw-border-opacity));
        --tab-bg: hsl(var(--b2));
        --tw-border-opacity: 1;
        --tw-text-opacity: 1;
    }

.tab-content {
    display: block;
    width: 100%;
    padding: 1rem;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2,var(--b1))/var(--tw-bg-opacity));
}

.tab-bordered.tab-active {
    border-style: solid;
    border-bottom-width: calc(var(--tab-border,1px) + 1px);
}

.tab-lifted {
    border: var(--tab-border,1px) solid transparent;
    border-width: 0 0 var(--tab-border,1px);
    border-top-left-radius: var(--tab-radius,.5rem);
    border-top-right-radius: var(--tab-radius,.5rem);
    padding-left: var(--tab-padding,1rem);
    padding-right: var(--tab-padding,1rem);
    padding-top: var(--tab-border,1px);
}

    .tab-lifted.tab-active {
        background-color: var(--tab-bg);
        padding-left: calc(var(--tab-padding,1rem) - var(--tab-border,1px));
        padding-right: calc(var(--tab-padding,1rem) - var(--tab-border,1px));
        padding-bottom: var(--tab-border,1px);
        padding-top: 0;
        border: none;
    }

.tab-xs {
    height: 1.25rem;
    font-size: .75rem;
    line-height: .75rem;
    --tab-padding: .5rem;
}

.tab-sm {
    height: 1.5rem;
    font-size: .875rem;
    line-height: .75rem;
    --tab-padding: .75rem;
}

.tab-lg {
    height: 3rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2;
    --tab-padding: 1.25rem;
}
