@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@TabsClass" style="@Style" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>