@namespace DaisyBlazor
@inherits DaisyComponentBase
@implements IDisposable

<div id="@Id" class="grid">
    <a class="@Classname">
        @if (TabTemplate != null)
        {
            @TabTemplate
        }
        else
        {
            @TabName
        }
    </a>

</div>