@namespace DaisyBlazor
@inherits DaisyComponentBase
@implements IDisposable

<div class="grid">
    <a class="@TabClass" style="@Style" @attributes="@Attributes">
        @if (TabTemplate != null)
        {
            @TabTemplate
        }
        else
        {
            @TabName
        }
    </a>
</div>