<!DOCTYPE html>
<html>

<body>
    <div role="alert" class="alert">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-info">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-success">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-warning">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-error">
        <span>12 unread messages. Tap to see.</span>
    </div>
</body>

</html>