<!DOCTYPE html>
<html>

<body>
    <div role="alert" class="alert shadow-lg">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-info shadow-md">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-success shadow-sm">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-warning shadow-xs">
        <span>12 unread messages. Tap to see.</span>
    </div>
    <div role="alert" class="alert alert-error shadow">
        <span>12 unread messages. Tap to see.</span>
    </div>
</body>

</html>