@namespace DaisyBlazor
@inherits DaisyComponentBase

@if (Menu?.Horizontal == false)
{
    <li class="@MenuGroupClass" style="@Style" @attributes="@AdditionalAttributes">
        <span>@Title</span>
    </li>
}
@ChildContent