<!DOCTYPE html>
<html>
    <body>
        <ul class="menu">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
          <ul class="menu menu-vertical">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
          <ul class="menu menu-xs">
            <li><a>xs item 1</a></li>
            <li><a>xs item 2</a></li>
          </ul>
          <ul class="menu menu-sm">
            <li><a>sm item 1</a></li>
            <li><a>sm item 2</a></li>
          </ul>
          <ul class="menu menu-md">
            <li><a>md item 1</a></li>
            <li><a>md item 2</a></li>
          </ul>
          <ul class="menu menu-lg">
            <li><a>lg item 1</a></li>
            <li><a>lg item 2</a></li>
          </ul>
          <ul class="menu">
            <li><a>Enabled item</a></li>
            <li class="disabled"><a>disabled item</a></li>
            <li class="disabled"><a>disabled item</a></li>
          </ul>
        <ul class="menu">
            <li class="menu-title">Title</li>
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
          <ul class="menu">
            <li>
              <h2 class="menu-title">Title</h2>
              <ul>
                <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
                <li><a>Item 3</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu">
            <li><a>Item 1</a></li>
            <li>
              <span class="menu-dropdown-toggle menu-dropdown-show">Parent</span>
              <ul class="menu-dropdown menu-dropdown-show">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </li>
          </ul>
          <ul class="menu">
            <li><a>Item 1</a></li>
            <li><a class="active">Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
    </body>
</html>