.mockup-code {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    min-width: 18rem;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
    border-radius: var(--rounded-box,1rem);
}

    .mockup-code pre {
        display: flex;
        flex-wrap: nowrap;
    }

pre[data-prefix].code-data-prefix:before {
    content: attr(data-prefix);
    display: inline-block;
    text-align: right;
    width: 2rem;
    opacity: .5;
}

pre code {
    border-radius: 0;
    padding: 0 1rem;
}
