.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1020;
}

    .sidebar .drawer-content {
        height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        width: var(--drawer-width-left);
    }

    .sidebar.sidebar-right {
        right: 0;
        width: var(--drawer-width-right);
    }

    .sidebar.sidebar-temporary {
        z-index: 1040;
    }

    .sidebar.sidebar-right.sidebar-temporary {
        right: 0;
        z-index: 1040;
        width: var(--drawer-width-right);
    }

    .sidebar.sidebar-persistent ~ *:not(.sidebar) {
        margin-left: var(--drawer-width-left);
    }

    .sidebar.sidebar-right.sidebar-persistent ~ *:not(.sidebar) {
        margin-right: var(--drawer-width-right);
    }
