.menu-group {
    position: relative;
    overflow: hidden;
    --tw-bg-opacity: 1;
    border-color: hsl(var(--b3,var(--b2))/var(--tw-border-opacity));
}

    .menu-group .menu-group-title {
        font-weight: 600;
        position: relative;
        width: 100%;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
    }

        .menu-group .menu-group-title:after {
            position: absolute;
            display: block;
            height: 0.5rem;
            width: 0.5rem;
            transform: translate(0,-100%) rotate(45deg) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            transition-property: all;
            transition-duration: .15s;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            top: 50%;
            right: 1.4rem;
            content: "";
            transform-origin: 75% 75%;
            box-shadow: 2px 2px;
            pointer-events: none;
        }

.menu-group-collapsed > .menu-group-title:after {
    transform: translate(0,-50%) rotate(225deg) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.menu li > ul.menu-group-content {
    position: relative;
    left: 0;
}

.menu li.menu-group li > a {
    padding-left: 2rem;
}

.menu li.menu-group li.menu-group > .menu-group-title {
    padding-left: 2rem;
}

.menu li.menu-group li.menu-group li > a {
    padding-left: 3rem;
}

.menu li.menu-group li.menu-group li.menu-group > .menu-group-title {
    padding-left: 3rem;
}

.menu li.menu-group li.menu-group li.menu-group li > a {
    padding-left: 4rem;
}
