

.progress {
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 0.5rem;
    border-radius: var(--rounded-box, 1rem);
}

    .progress::-moz-progress-bar {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--n) / var(--tw-bg-opacity));
    }

.progress-primary::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.progress-secondary::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.progress-accent::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
}

.progress-info::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
}

.progress-success::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
}

.progress-warning::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
}

.progress-error::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
}

.progress:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -40%;
    width: 33.333333%;
    border-radius: var(--rounded-box, 1rem);
    animation: progress-loading 5s infinite ease-in-out;
}

.progress-primary:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.progress-secondary:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.progress-accent:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
}

.progress-info:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
}

.progress-success:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
}

.progress-warning:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
}

.progress-error:indeterminate::after {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
}

.progress::-webkit-progress-bar {
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    border-radius: var(--rounded-box, 1rem);
}

.progress::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
    border-radius: var(--rounded-box, 1rem);
}

.progress-primary::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.progress-secondary::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.progress-accent::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
}

.progress-info::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--in) / var(--tw-bg-opacity));
}

.progress-success::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
}

.progress-warning::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--wa) / var(--tw-bg-opacity));
}

.progress-error::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
}

@keyframes progress-loading {
    50% {
        left: 107%;
    }
}

.radial-progress {
    position: relative;
    display: inline-grid;
    height: var(--size);
    width: var(--size);
    place-content: center;
    border-radius: 9999px;
    background-color: transparent;
    vertical-align: middle;
    box-sizing: content-box;
    --value: 0;
    --size: 5rem;
    --thickness: calc(var(--size) / 10);
}

    .radial-progress::-moz-progress-bar {
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
    }

    .radial-progress::-webkit-progress-value {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
    }

    .radial-progress::-webkit-progress-bar {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
    }

    .radial-progress:before,
    .radial-progress:after {
        position: absolute;
        border-radius: 9999px;
        content: "";
    }

    .radial-progress:before {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: radial-gradient(farthest-side, currentColor 98%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
        mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
    }

    .radial-progress:after {
        inset: calc(50% - var(--thickness) / 2);
        transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
        background-color: currentColor;
    }

.progress-text-transparent {
    color: #0000
}

.progress-text-current {
    color: currentColor
}

.progress-text-primary {
    color: hsl(var(--p))
}

.progress-text-secondary {
    color: hsl(var(--s))
}

.progress-text-accent {
    color: hsl(var(--a))
}

.progress-text-neutral {
    color: hsl(var(--n))
}

.progress-text-info {
    color: hsl(var(--in))
}

.progress-text-success {
    color: hsl(var(--su))
}

.progress-text-warning {
    color: hsl(var(--wa))
}

.progress-text-error {
    color: hsl(var(--er))
}

.progress-bg-primary {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.progress-bg-neutral {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
}

.progress-border-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
}
