@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <input type="checkbox" checked="@Open" />
    @if (TitleContent is not null)
    {
        <div class="collapse-title" @onclick="_=>Open=!Open">
            @TitleContent
        </div>
    }
    <div class="collapse-content">
        @ChildContent
    </div>
</div>