@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@CollapseClass" style="@Style" @attributes="@AdditionalAttributes">
    <div class="collapse-title" @onclick="@OnClickTitleAsync">
        @if (TitleContent is not null)
        {
            @TitleContent
        }
        else
        {
            @Title
        }
    </div>
    <div class="collapse-content">
        @if (MessageContent is not null)
        {
            @MessageContent
        }
        else
        {
            @Message
        }
    </div>
</div>