<!DOCTYPE html>
<html>
    <body>
        <a class="link">I'm a simple link</a>
        <a class="link link-primary">I'm a simple link</a>
        <a class="link link-secondary">I'm a simple link</a>
        <a class="link link-accent">I'm a simple link</a>
        <a class="link link-neutral">I'm a simple link</a>
        <a class="link link-success">I'm a simple link</a>
        <a class="link link-info">I'm a simple link</a>
        <a class="link link-warning">I'm a simple link</a>
        <a class="link link-error">I'm a simple link</a>
        <a class="link link-hover">I'm a simple link</a>
    </body>
</html>