@using Microsoft.AspNetCore.Components.Web
@namespace DaisyBlazor.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="DaisyBlazor.Server.styles.css" />
    <link rel="stylesheet" href="_content/DaisyBlazor/css/daisy.css" />
    <link rel="stylesheet" href="_content/DaisyBlazor/css/daisy-theme.css" />
    <link rel="stylesheet" href="_content/DaisyBlazor.Shared/css/site.css" />
    <link rel="stylesheet" href="_content/DaisyBlazor.Shared/DaisyBlazor.Shared.bundle.scp.css" />
    <!-- highlight -->
    <link rel="stylesheet" href="_content/DaisyBlazor.Shared/css/vs.css" />
    <link rel="stylesheet" href="_content/DaisyBlazor.Shared/css/highlightjs-copy.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script>
        function HighlightCode(code) {
            if (typeof hljs != "undefined" && hljs != null && code != null) {
                res = hljs.highlightAuto(code);
            }
            return res.value ?? "";
        }
    </script>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/DaisyBlazor/js/daisy.js"></script>
    <!-- highlight -->
    <script type="text/javascript" src="_content/DaisyBlazor.Shared/js/highlight.js"></script>
    <script type="text/javascript" src="_content/DaisyBlazor.Shared/js/cshtml-razor.js"></script>
    <script type="text/javascript" src="_content/DaisyBlazor.Shared/js/highlightjs-copy.js"></script>
</body>
</html>
