/* _content/DaisyBlazor.Shared/Shared/MainLayout.razor.rz.scp.css */
main[b-f8y9nve1bd] {
    display: flex;
    overflow: auto;
}

.top-row[b-f8y9nve1bd] {
    position: sticky;
    top: 0;
    z-index: 1030;
}

article[b-f8y9nve1bd] {
    width: 100%;
    padding: 1rem;
}
