/* _content/DaisyBlazor.Shared/Components/DemoSection.razor.rz.scp.css */
[b-hv6vwdxtd4] .demo-preview{
    padding: 0.5rem;
}

[b-hv6vwdxtd4] .hljs > .hljs-copy-button {
    top: 50%;
    translate: 0 -50%;
}
