@namespace DaisyBlazor
@inherits DaisyComponentBase
@using DaisyBlazor.Utilities

<div class="@ContainerClass" style="@Style" @attributes="@AdditionalAttributes">
    @ChildContent
</div>

@code {
    private string ContainerClass =>
        new ClassBuilder("container")
        .AddClass(Class)
        .Build();
}