@namespace DaisyBlazor
@inherits DaisyComponentBase
@using DaisyBlazor.Utilities

<div class="@ContainerClass" style="@Style" @attributes="@Attributes">
    @ChildContent
</div>

@code {
    private string ContainerClass =>
        new ClassBuilder("container")
        .AddClass(Class)
        .Build();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}