
.loading {
    z-index: 2;
    color: #88a;
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

    .loading::after {
        content: '';
        border: solid 10px;
        border-color: #88a #eee #eee;
        border-radius: 60px;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: rotation 1.5s linear 0s infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(405deg)
    }
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.gap-1 {
    gap: .25rem;
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

w-full {
    width: 100%;
}


.menu .close-btn {
    display: block;
}

@media(min-width:768px) {
    .menu .close-btn {
        display: none;
    }
}