.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.gap-1 {
    gap: .25rem;
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

w-full {
    width: 100%;
}


.menu .close-btn {
    display: block;
}

@media(min-width:768px) {
    .menu .close-btn {
        display: none;
    }
}

pre code.hljs {
    background: inherit;
    color: inherit;
}
