@namespace DaisyBlazor
@inherits DaisyComponentBase

@if (Visible)
{
    if (Mode == RenderMode.Body)
    {
        <td>@ChildContent</td>
    }
    else if (Mode == RenderMode.Head)
    {
        <th>
            @if (TitleTemplate is not null)
            {
                @TitleTemplate
            }
            else
            {
                @Title
            }
        </th>
    }
}
