<!DOCTYPE html>
<html>

<body>
    <div class="divider"></div>
    <div class="divider">OR</div>
    <div class="divider divider-horizontal">OR</div>
    <div class="divider lg:divider-horizontal">OR</div>
    <div class="divider divider-neutral">Neutral</div>
    <div class="divider divider-primary">Primary</div>
    <div class="divider divider-secondary">Secondary</div>
    <div class="divider divider-accent">Accent</div>
    <div class="divider divider-success">Success</div>
    <div class="divider divider-warning">Warning</div>
    <div class="divider divider-info">Info</div>
    <div class="divider divider-error">Error</div>
    <div class="divider divider-start">Start</div>
    <div class="divider divider-end">End</div>
    <div class="divider divider-horizontal divider-start">Start</div>
    <div class="divider divider-horizontal divider-end">End</div>

</body>

</html>